@import "global_variables"
* {
  font-size: 16px;
  letter-spacing: 2px; 
}
main {
  position: relative;
}
#tools {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;  
}
#title {
  width: 100%;
  background-color: deep;
}